import(Biobase, oligoClasses, methods)
exportClasses(ParESet,
              ParSnpCopyNumberSet,
              ParSnpCallSet,
              ParSnpSet,
	      HmmPredict,
	      RatioSnpSet)

exportMethods(alleleA,
              alleleB,
	      cnConfidence,
	      "cnConfidence<-",
	      ratioConfidence,
	      "ratioConfidence<-",
              coerce,
	      copyNumber,
	      "copyNumber<-",
              dbSnpId,
              fragmentLength,
	      hmmPredict,
              selectSomeIndex,  
              show,
              smoothSnp,
              summary,
              updateObject,
	      ratio,
	      "ratio<-",
	      snpset)

export(centromere,
       chromosome2numeric,
       chromosomeSize,
       plotPredictions,
       showSummary)

#Uncomment when debugging
##export(.plotChromosome,
##       .drawXaxis,
##       .calculateYlim,
##       .recycle,
##       .plot)
##exportMethods(initialize, .getX, .getY, getPar, allPlots)
##exportClasses(NULLorHmmPredict)

exportMethods("initialize")
##par class methods
exportMethods("$",
              "$<-",
              plotSnp,
              snpPar,
              "snpPar<-")

export(plotCytoband)

##DEPRECATED CLASSES
##exportClasses(AnnotatedSnpSet,
##              AnnotatedSnpCopyNumberSet,
##              AnnotatedSnpCallSet)
              
